body {
    margin: 0;
}

div {
    transition: all 0.8s ease;
}

#field {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    perspective: 200px;
}

#floor {
    width: 70%;
    height: 70%;

    position: absolute;
    top: 20vh;
    display: flex;
    vertical-align: middle;
    z-index: 1;
    
    background-image: url("img/wooden_planks.jpg");
    background-repeat: repeat;
    background-size: 150px;
    background-position: center;

    box-shadow: 0 230px 100px rgba(0,0,0,1) inset;

    transform: rotateX(50deg);
}

#floor:hover {
    transform: rotateX(40deg);
}

#back-wall {
    width: 58%;
    height: 50%;

    position: absolute;
    top: 0vh;
    z-index: 2;

    background-image: url("img/brick_wall.jpg");
    background-repeat: repeat;
    background-size: 150px;
    background-position: center;
}