body {
    margin: 0;
}

#field {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    perspective: 200px;
}

#floor {
    width: 70%;
    height: 70%;
    display: flex;
    vertical-align: middle;
    background-image: url("img/wooden_planks.jpg");
    background-repeat: repeat;
    background-size: 150px;
    background-position: center;
    transition: all 0.8s ease;

    transform: rotateX(50deg);
}

#floor:hover {
    transform: rotateX(40deg);
}