body {
    margin: 0;
    perspective: 200px;
    overflow: hidden;
}

div {
    transition: all 0.8s ease;
}

#field, #floor {
    transform-style: preserve-3d;
}

#field {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#field:hover {
    transform: rotateX(-5deg);
}

#floor {
    width: 70%;
    height: 70%;

    position: absolute;
    top: 15vh;
    z-index: 1;
    
    background-image: url("img/wooden_planks.jpg");
    background-repeat: repeat;
    background-size: 150px;
    background-position: center;

    box-shadow: 0 230px 100px rgba(0,0,0,1) inset;

    transform: rotateX(50deg);
}

#back-wall {
    width: 60%;
    height: 54%;

    position: absolute;
    top: -5vh;
    z-index: 2;

    background-image: url("img/brick_wall.jpg");
    background-repeat: repeat;
    background-size: 150px;
    background-position: center;
}